@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/img1.jpg.jpg);
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    display: flex;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

button {
    position: relative;
    z-index: 10;

}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 23px;
    padding: 0 30px;

}

.hero> :first-child {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 5px;
    background-color: rgb(48, 46, 46);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 500;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.242);
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {

    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}

.main input {
    padding: 11px 123px 7px 21px;
    font-size: 12px;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 1.2);
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: center;

}

.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 51px;
    right: 0;
}

.text :nth-child(1) {
    display: flex;
    font-size: 49px;
    font-weight: 900;
}

.text :nth-child(2) {
    font-size: 20px;
    font-weight: 400;
}



.first .second {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: center;

}

.first .second .text :nth-child(1) {
    display: flex;
    font-size: 49px;
    font-weight: 900;
}

.secimg2 {
    position: relative;
}

.secimg2 img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg2 video {
    position: absolute;
    top: 51px;
    right: 0;
}

.faq {
    background-color: black;
    padding: 34px;
}

h2 {
    font-size: 41px;
    color: white;
    text-align: center;
}

.faqbox {
    transition: all 0.5s ease-out;
    display: flex;
    background-color: rgba(68, 61, 61, 0.232);
    color: white;
    max-width: 60vw;
    margin: 25px auto;
    padding: 18px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 24px;
}

.faqbox:hover {
    background-color: gray;
}

.faqbox svg {
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;

    }

    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 305px;
    }

    .secimg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }

    .text :nth-child(1) {

        font-size: 38px;

    }
}

@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}